:root {
  --base-color: #ffc600;
  --spacing: 20px;
  --blur: 10px;
}

body {
  font-family: sans-serif;
  background-color: rgb(46, 45, 102);
  color: rgb(241, 241, 241);
  text-align: center;
}

.highlight {
  color: var(--base-color);
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls label {
  margin: 10px auto 20px;
}

img {
  margin: 40px auto var(--spacing);
  padding: var(--spacing);
  background-color: var(--base-color);
  filter: blur(var(--blur));
  width: 100%;
  max-width: 400px;
  height: auto;
}
