:root {
  --base-color: #ffc600;
  --spacing: 20px;
  --blur: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(46, 45, 102);
  color: rgb(241, 241, 241);
  text-align: center;
}

.content-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.highlight {
  color: var(--base-color);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls label {
  margin: 10px auto 20px;
}

img {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 40px auto var(--spacing);
  padding: var(--spacing);
  background-color: var(--base-color);
  filter: blur(var(--blur));
}
